/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.active-link {
  background-color: #1D4ED8 !important;
  color: #ffffff !important;
}

.nav-link:hover {
  background-color: #334155;
  color: #ffffff;
}